* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: #ddd;
}

#starting-form input {
    margin-bottom: 20px;
}

select {
    text-align-last: center;
    width: 100%;
}

.name {
    font-size: 24px;
    margin: 5px 0px 15px 0px;
}

.p1-username {
    color: #00f;
}

.p2-username {
    color: #f00;
}

.v-username {
    color: #909;
}

.c-username {
    color: #000;
}

#chat {
    position: relative;
    text-align: left;
    border: 1px solid #000;
    background: #eee;
    position: relative;
    line-height: 1.25em;
    height: 300px;
    overflow-y: auto;
}

#chat p {
    padding: 5px 5px;
}

#chat p:nth-child(odd) {
    background: #eee;
}

#chat p:nth-child(even) {
    background: #aaa;
}

#choices {
    display: inline-block;;
}

#content {
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
    background: #fff;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #000;
}

#input-box {
    width: 100%;
    margin: 2px auto;
}

#player1, #player2 {
    background: #eee;
    padding: 20px;
    border: 1px solid #000;
}

#player1 {
    float: left;
}

#player2 {
    float: right;
}

#starting-form {
    display: inline-block;
    margin-bottom: 20px;
}

#send-btn {
    width: 54px;
}

#textbox {
    width: calc(100% - 58px);
}

@media screen and (max-width: 580px) {
    #player1, #player2 {
        float: none;
    }
}